* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* optional, but recommended */
}

.profile-pic{
  height: 40px;
}
.tweet-container{
  border: 1px solid black;
  margin: 30px 50px;
  padding:15px;
  display: flex;
  gap: 10px
}
.tweet-header{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px
}
.user-name{
  font-size: 14px;
  font-weight: 400;
}
.tweet-content{
  margin:10px 0;
}
.like-container{
  display: flex;
  justify-content: center;
  gap: 30px;
}